
target/streams/compile/_global/_global/compileOutputs/

generated/

project/target/config-classes/

project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/

project/target/streams/compile/_global/_global/compileBinaryFileInputs/

project/target/streams/compile/compileIncremental/_global/streams/

target/streams/test/managedClasspath/_global/streams/

target/streams/test/packageBin/_global/streams/

target/streams/test/internalDependencyClasspath/_global/streams/

.idea/modules/

target/scala-2.12/classes/

project/target/streams/_global/update/_global/streams/

project/target/streams/compile/_global/_global/compileOutputs/

project/target/streams/compile/_global/_global/dependencyClasspathFiles/

project/target/streams/compile/copyResources/_global/streams/

project/target/streams/compile/dependencyClasspath/_global/streams/

project/target/streams/compile/exportedProducts/_global/streams/

project/target/streams/compile/externalDependencyClasspath/_global/streams/

project/target/streams/compile/managedClasspath/_global/streams/

project/target/streams/runtime/dependencyClasspath/_global/streams/

project/target/streams/runtime/exportedProducts/_global/streams/

project/target/streams/runtime/fullClasspath/_global/streams/

project/target/streams/runtime/internalDependencyClasspath/_global/streams/

target/scala-2.12/

target/
